
<html>
	<head>
		<title>Signup Form</title>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!--Bootstrap-->
		<link href="css/bootstrap.css" rel="stylesheet">
    </head>
	<body>
          <div>
              <h1>Swacch Bharat</h1>
              <h2>Sign up</h2>
			  <h4>Date and Time: {{ today }}</h4>

          </div>


		<!--javascript files-->
		<!--jquery library-->
		<script src="js/jquery-3.2.1.js"><
		<!--Bootstrap js Library-->
		<script src="js/bootstrap.js"></script>
	</body>
</html>

